DATABASE_URL="postgresql://postgres:sih2026_secure_password@localhost:5432/MadhuPraman?schema=public"
JWT_SECRET="your-secret-key-here"
CHANNEL_NAME="mychannel"
CHAINCODE_NAME="MadhuPraman"
MSP_ID="BeekeeperOrgMSP"
